<nav class="nav">
    <input
        type="search"
        placeholder="Search books"
        [formControl]="searchControl"
    />
    <button
        (click)="onStatusSelected('wishlist')"
        class="nav-button"
        [class.nav-button_selected]="selectedStatus() === 'wishlist'"
    >
        Вишлист
    </button>
    <button
        (click)="onStatusSelected('reading')"
        class="nav-button"
        [class.nav-button_selected]="selectedStatus() === 'reading'"
    >
        Читаю
    </button>
    <button
        (click)="onStatusSelected('finished')"
        class="nav-button"
        [class.nav-button_selected]="selectedStatus() === 'finished'"
    >
        Прочитал
    </button>
</nav>
