<nav class="nav">
    <input
        type="search"
        placeholder="Search books"
        i18n-placeholder
        [formControl]="searchControl"
    />
    <button
        nz-button
        (click)="onStatusSelected('in_wishlist')"
        [nzType]="selectedStatus() === 'in_wishlist' ? 'primary' : 'default'"
        i18n
    >
        Вишлист
    </button>
    <button
        nz-button
        (click)="onStatusSelected('reading')"
        [nzType]="selectedStatus() === 'reading' ? 'primary' : 'default'"
        i18n
    >
        Читаю
    </button>
    <button
        nz-button
        (click)="onStatusSelected('finished')"
        [nzType]="selectedStatus() === 'finished' ? 'primary' : 'default'"
        i18n
    >
        Прочитал
    </button>
    <nz-select
        [ngModel]="sortField()"
        (ngModelChange)="onSortFieldSelected($event)"
    >
        <nz-option
            [nzValue]="BookSortField.CreatedAt"
            nzLabel="Дата создания"
            i18n-nzLabel
        />
        <nz-option
            [nzValue]="BookSortField.Title"
            nzLabel="Название"
            i18n-nzLabel
        />
    </nz-select>
    <nz-select
        [ngModel]="sortOrder()"
        (ngModelChange)="onSortOrderSelected($event)"
    >
        <nz-option
            [nzValue]="SortOrder.Desc"
            nzLabel="По убыванию"
            i18n-nzLabel
        />
        <nz-option
            [nzValue]="SortOrder.Asc"
            nzLabel="По возрастанию"
            i18n-nzLabel
        />
    </nz-select>
</nav>
