:host {
    display: block;
}

.book-card {
    height: 400px;
    cursor: pointer;
}

.book-card__content {
    min-height: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.book-card__title {
    width: 100%;
    margin: 0;
    font-size: 16px;
}

.book-card__author {
    width: 100%;
    margin: 0;
}

.book-card__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}
